*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    padding: 0px,0px;
    /* display: flex; */
}
.collection{
    height: 898px;
    background-image: url(img/tm-bg-2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}
.nav{
    background-color: rgba(255, 255, 255, 0.719);
    height: 80px;
    width: 1280px;
    margin-top: 20px;
    margin-left: 35px;
    display: block;
}
.pas{
    margin-top: -27px;
}
.logo img{
    height: 37px;
    width: 40px;
    margin-top: 45px;
    margin-left: 40px;
}
.text{
    margin-left: 85px;
    margin-top: -35px;
}
.menu{
    margin-left: 500px;
    margin-top: -50px;
    display: flex;
}
.menu a{
    padding: 25px;
    text-decoration: none;
}
.menu a:hover{
    color: blue;
    background-color: white;
    background-size: cover;
    background-position: center;
    height: 78px;
    padding: 25px;
}
.neyi{
    margin-top: -730px;
    margin-left: 50px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.neyi h3{
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 30px;

}
.ayo{
    display: flex;
}
h1{
    color: white;
}
.road{
    height: 420px;
    width: 295px;
    background-size: contain;
    margin-top: 40px;
    margin-left: 35px;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    overflow: hidden;
}
.road h1{
    margin-top: 120px;
    position: absolute;
    margin-left: 50px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ending{
   margin-left: 70px;
}
.ending img:hover{
    background-color: blue;
    transition-duration: 1s;
}
.facebook{
    background-color: rgba(255, 255, 255, 0.596);
    height: 40px;
    width: 40px;
    margin-left: 500px;
    margin-top: 50px;
}
.face img{
    height: 20px;
    margin-top: 10px;
    margin: 8px;
}
.google{
    background-color:  rgba(255, 255, 255, 0.527);
    height: 40px;
    width: 40px;
    margin-left: 555px;
    margin-top: -40px;
}
.goo img{
    height: 25px;
    margin-top: 8px;
    margin-left: 10px;
}
.twitter{
    background-color:  rgba(255, 255, 255, 0.527);
    height: 40px;
    width: 40px;
    margin-left: 605px;
    margin-top: -40px;
}
.twi  img{
    height: 22px;
    margin-top: 8px;
    margin-left: 10px;
}
.betty{
    background-color: rgba(255, 255, 255, 0.527);
    height: 40px;
    width: 40px;
    margin-left: 655px;
    margin-top: -40px;
}
.bet img{
    height: 22px;
    margin-top: 8px;
    margin-left: 9px;
}
.nin{
    background-color: rgba(255, 255, 255, 0.527);
    height: 40px;
    width: 40px;
    margin-left: 705px;
    margin-top: -40px;
}
.lin img{
    height: 18px;
    margin-top: 8px;
    margin-left: 11px;
}
.ending :hover{
    background-color: blue;
    transition-duration: 1s;
}

